<center>

  <div class="signin-box">
<%= form_for @assignment do |f| %>

  <% if @assignment.errors.any? %>

    <div id="error_explanation">
      <p>
        <%= pluralize(@assignment.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>

  <% end %>

  <p>
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Description" %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label "Due Date" %><br>
    <%= f.date_select :due_date %>
  </p>

  <%= f.hidden_field :completed, :value => false %>

  <p>
    <%= f.label "Students" %> <br>
    <%= f.collection_check_boxes :user_ids, User.where(role: "student"), :id, :name do |user| %>
    <div class="collection-check-box">
        <%= user.check_box %>
        <%= user.label %>
      </div>
      <% end %>
  </p>

  <p>
    <%= f.label :document %>
    <p><%= f.file_field :document %></p>
  </p>

  <p>
    <%= f.submit 'Create Assignment', class: 'pink-btn' %>
  </p>

</div>

<% end %>

</center>
