<h1>Assignments#show</h1>
<p>Find me in app/views/assignments/show.html.erb</p>

<center>

<h1> ASSIGNMENT: <%= @assignment.title %> </h1>

<br>

<p>
  <strong>Description:</strong>
  <p><%= @assignment.description %></p>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @assignment.due_date.strftime("%b %e, %Y") %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @assignment.completed %>
</p>

<p>
  <button type="button" id="homework_popup_button">Upload some homework?</button>
</p><br>


  <%= form_for @homework, html: { multipart: true, id: 'upload_homework' } do |f| %>
    <% if @homework.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@homework.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>
    <% end %>


    <p>
      <%= f.hidden_field :title, value: @assignment.title %>
    </p>

    <p>
      <%= f.hidden_field :student_id, value: session[:user_id] %>
    </p>

    <p>
      <%= f.hidden_field :assignment_id, value: @assignment.id %>
    </p>

    <p>
      <%= f.label :document %>
      <p><%= f.file_field :document %></p>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

<br><p><%= link_to 'EDIT', edit_assignment_path(@assignment) %></p>
<p><%= link_to 'DESTROY', assignment_path(@assignment),
        method: :delete,
        data: { confirm: 'OK, well, just be careful.' } %></p>

<br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %><br>
<% if session[:user_flavor] == "admin" %>
  <p><%= link_to "ASSIGNMENT INDEX", assignments_path %></p>
  <p><%= link_to "STUDENT INDEX", admins_path %></p>
  <p><%= link_to "MAKE A NEW STUDENT", new_student_path %></p>
<% end %>



</center>
