<!-- <div class="grid"> -->
  <!-- <div class="middle"> -->
<!-- <h1>Assignments#show</h1> -->
<!-- <p>Find me in app/views/assignments/show.html.erb</p> -->
<!-- </div> -->
<!-- </div> -->


  <div class="content">
    <div class="two-columm">
    <div class="left">

<h1> ASSIGNMENT: <div class="pink"><%= @assignment.title %> </div></h1>
<p>
  <button type="button" id="homework_popup_button">Upload some homework?</button>
</p>
<%= form_for @homework, html: { multipart: true, id: 'upload_homework' } do |f| %>

  <p>
    <%= f.hidden_field :title, value: @assignment.title %>
  </p>

  <p>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </p>

  <p>
    <%= f.hidden_field :assignment_id, value: @assignment.id %>
  </p>

  <p>
    <%= f.label :document %>
    <p><%= f.file_field :document %></p>
  </p>

  <p>
    <%= f.submit, :id => "admin-import" %>
  </p>
<% end %>

</div>
<div class="right">

<p>
  <strong>Description:</strong>
  <p><%= @assignment.description %></p>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @assignment.due_date.strftime("%b %e, %Y") %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @assignment.completed %>
</p>

</div>
</div>

  <div class="middle">

<br>





  <%= link_to "FRONT PAGE DASHBOARD", root_path %><br>
  <% if session[:user_role] == "admin" %>
    <p><%= link_to "ASSIGNMENT INDEX", assignments_path %></p>
    <p><%= link_to "STUDENT INDEX", admins_path %></p>
    <p><%= link_to "MAKE A NEW STUDENT", new_user_path %></p>
  <% else %>
    <p><%= link_to "YOUR ASSIGNMENTS", users_path %></p>
  <% end %>

  <p><%= link_to 'Logout', logout_path, method: :delete %></p>

</div>
</div>
