<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>

<center>

  <h2>Listing Students</h2>

  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Assignments</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed?</th>
        <th>Files Uploaded</th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <!-- <td><%= student.name %></td> -->
          <!-- link_to 'NEW STUDENTS', new_student_path -->
          <td><%= link_to "#{student.name}", student_path(student) %></td>
          <td><% student.assignments.each do |assignment| %>
            <br> <%= assignment.title %>
            <% end %> </td>
          <td><% student.assignments.each do |assignment| %>
            <br> <%= assignment.description %>
          <% end %> </td>
          <td><% student.assignments.each do |assignment| %>
            <br> <%= assignment.due_date.strftime("%b %e, %Y") %>
          <% end %> </td>
          <td><% student.assignments.each do |assignment| %>
            <br> <%= assignment.completed %>
          <% end %> </td>
          <td><% student.homeworks.each do |homework| %>
            <!-- <br> <%= homework.title %>, <%= homework.document_file_name %> -->
            <br> <%= link_to "#{homework.title} homework", homework.document.url(:original, false) %>
          <% end %> </td>
          <td><%= link_to 'SHOW', student_path(student) %></td>
          <td><%= link_to 'EDIT', edit_student_path(student) %></td>
          <td><%= link_to 'DESTROY', student_path(student),
                method: :delete,
                data: { confirm: 'OK, well, just be careful.' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>IMPORT STUDENTS</h1>
    <%= form_tag import_students_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "IMPORT CSV" %>
    <% end %>

  <br>

    <p>Make a new student: <%= link_to 'NEW STUDENTS', new_student_path %></p>
    <p>Go back to the dashboard: <%= link_to 'FRONT PAGE', root_path %></p>
    <p>Upload some homework: <%= link_to "HOMEWORK", homeworks_path %></p>

  <p><%= link_to 'Logout', logout_path, method: :delete %></p>

  </center>
