<h1>Admins#show</h1>
<p>Find me in app/views/admins/show.html.erb</p>

<center>

<h1> ADMIN: <%= "#{@admin.name}" %> </h1>

<br>

<p>
  <strong>Name:</strong>
  <p><%= @admin.name %></p>
</p>

<p>
  <strong>Email:</strong>
  <p><%= @admin.email %></p>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @admin.avatar.url(:thumb) %>
</p>

<table>
  <tbody>
<td><%= link_to 'EDIT', edit_admin_path(@admin) %></td>
<td><%= link_to 'DESTROY', admin_path(@admin),
        method: :delete,
        data: { confirm: 'OK, well, just be careful.' } %></td>
  </tbody>
</table>
