<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<p id="notice"><%= notice %></p>

<center>

<% if session[:user_flavor] == "admin" %>
  <h1> THIS ISN'T YOUR RECORD </h1>
  <h2> BUT WE LEFT IT LIVE BECAUSE THE WEBMASTER MIGHT NEED TO GET IN HERE SOMETIME </h2>
<% else %>
  <h1>Your Assignments</h1>
<% end %>

<div class="grid">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Homework</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
      <% @assignments.each do |assignment| %>
      <tr>
      <td><%= link_to "#{assignment.title}", assignment_path(assignment) %></td>
      <td><%= assignment.due_date.strftime("%b %e, %Y") %></td>
      <td><% assignment.homeworks.each do |homework| %>
            <%= homework.title %>
          <% end %></td>
      <td><% assignment.homeworks.each do |homework| %>
            <!--  show file name if it is there  -->
          <% if homework.document_file_name == nil %>
          NOTHING YET
          <% else %>
          <%= link_to "#{homework.document_file_name}", homework.document.url(:original, false) %>
          <% end %></td>
          <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

</div>

<br>

  <!-- <p>Make a new student: <%= link_to 'NEW STUDENTS', new_student_path %></p> -->

<p>Go back to the dashboard: <%= link_to 'FRONT PAGE', root_path %></p>
<p><%= link_to 'Logout', logout_path, method: :delete %></p>

</center>
