<center>
  <div id='top-nav'>
    <div id='nav-left'>
      <%= image_tag("logo_mark_small.png", :class => 'pull-left')  %>
    </div>
    <div id='nav-middle'>
      <div id='nav-bold'>
        <% if session[:user_flavor] == "admin" %>
          <%= link_to "Home", root_path %>  |  <%= link_to "Students", admins_path %>  |
          <%= link_to "Profile", admin_path(session[:user_id]) %>  |
          <%= link_to "Avatar update", change_avatar_student_path(current_user.id) %>  |
          <%= link_to 'Logout', logout_path, method: :delete %> |
        <% else %>
          <%= link_to "Home", root_path %>  |  <%= link_to "Assignments", students_path %>  |
          <%= link_to "Profile", student_path(session[:user_id]) %>  |
          <%= link_to "Avatar update", change_avatar_student_path(current_user.id) %>  |
          <%= link_to 'Logout', logout_path, method: :delete %> |
        <% end %>
        <!-- <%= image_tag current_user.avatar.url(:tiny), :class => "img-circle room-on-top" %> -->

      <!-- <% if current_user.avatar.blank? %> -->
        <!-- <%= link_to "Update profile", student_path(current_user) %> -->
      <!-- <% end %> -->
    </div>
    </div>
    <div>
      <%= image_tag current_user.avatar.url(:tiny), :class => "img-circle room-on-top" %>
    </div>
  </div>
</center>
