<center>
  <div id='top-nav'>
    <div id='nav-left'>
      <%= image_tag("logo_mark_small.png", :class => 'pull-left')  %>
    </div>
    <div id='nav-middle'>
      <div id='nav-bold'>
        <% if session[:user_role] == "admin" %>
          <%= link_to "Home", root_path %>  |  <%= link_to "Students", users_path %>  |
          <%= link_to "Profile", user_path(session[:user_id]) %>  |
          <%= link_to "Avatar update", change_avatar_user_path(current_user.id) %>  |
          <%= link_to 'Logout', logout_path, method: :delete %> |
        <% else %>
          <%= link_to "Home", root_path %>  |  <%= link_to "Assignments", users_path %>  |
          <%= link_to "Profile", user_path(session[:user_id]) %>  |
          <%= link_to "Avatar update", change_avatar_user_path(current_user.id) %>  |
          <%= link_to 'Logout', logout_path, method: :delete %> |
        <% end %>
    </div>
    </div>
    <div>
      <%= image_tag current_user.avatar.url(:tiny), :class => "img-circle room-on-top" %>
    </div>
  </div>
</center>
