<h1>Homeworks#new</h1>
<p>Find me in app/views/homeworks/new.html.erb</p>

<%= render 'form' %>

<br>
<center>
<% if session[:user_role] == "admin" %>
  <p>View Students: <%= link_to 'STUDENTS', users_path %></p>
  <p>View Profile: <%= link_to 'USER PROFILE', user_path(session[:user_id]) %></p>
<% else %>
  <p>View Profile: <%= link_to 'USER PROFILE', user_path(session[:user_id]) %></p>
  <p>View Assignments: <%= link_to 'ASSIGNMENTS', users_path %></p>
<% end %>

<% if session[:user_role] == "admin" %>
  <p>Make a new student: <%= link_to 'NEW STUDENTS', new_user_path %></p>
  <p>View assignments: <%= link_to "ASSIGNMENT INDEX", assignments_path %></p>
  <p>Make a new assignment: <%= link_to 'NEW ASSIGNMENTS', new_assignment_path %></p>
  <p>See your uploaded files: <%= link_to 'ALL HOMEWORK', homeworks_path %></p>
  <p>Upload some homework: <%= link_to 'NEW HOMEWORK', new_homework_path %></p>
  <br>SEND AN EMAIL: <%= link_to "#holdmybeer", reminders_write_email_path %></p><br>
<% end %>
<p><%= link_to 'Logout', logout_path, method: :delete %></p>

</center>
