<h1>Homeworks#show</h1>
<p>Find me in app/views/homeworks/show.html.erb</p>

<center>

<h1>HOMEWORK</h1>

<p>
  <strong>Title:</strong>
  <p><%= @homework.title %></p>
</p>

<% unless @homework.document_file_name.nil? %>
  <% type = @homework.document_file_name.split(".")[-1] %>
  <% if type == "pdf" || type == "docx" || type == "xlsx" || type == "jpeg" || type == "jpg" %>
    <%= image_tag("#{type}_icon50.png") %>
  <% else %>
    <p><%= "#{type.upcase}" %> FILE UPLOADED: </p>
    <div class='pink'><%= "#{@homework.document_file_name}" %></div>
  <% end %>
<% end%>

<p>Go back to the dashboard: <%= link_to 'FRONT PAGE', root_path %></p>
<p>Go back to assignments: <%= link_to 'ASSIGNMENTS', users_path %></p>


</center>
