<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<h1> Welcome, session[:user_name]: <%= session[:user_name] %> </h1>
<h2> Or is it 'Welcome, current_user.name': <%= current_user.name %></h2>
<%= image_tag current_user.avatar.url(:thumb) %>
<h3> session[:user_id]: <%= session[:user_id] %></h3>
<h3> session[:user_flavor]: <%= session[:user_flavor] %></h3>
<h3> session[:user_name]: <%= session[:user_name] %> </h3>

<center>
<% if session[:user_flavor] == "admin" %>
  <p>View Students: <%= link_to 'STUDENTS', admins_path %></p>
  <p>View Profile: <%= link_to 'USER PROFILE', admin_path(session[:user_id]) %></p>
<% else %>
  <p>View Profile: <%= link_to 'USER PROFILE', student_path(session[:user_id]) %></p>
  <p>View Assignments: <%= link_to 'ASSIGNMENTS', students_path %></p>
<% end %>

<% if session[:user_flavor] == "admin" %>
  <p>Make a new student: <%= link_to 'NEW STUDENTS', new_student_path %></p>
  <p>View assignments: <%= link_to "ASSIGNMENT INDEX", assignments_path %></p>
  <p>Make a new assignment: <%= link_to 'NEW ASSIGNMENTS', new_assignment_path %></p>
  <p>See your uploaded files: <%= link_to 'ALL HOMEWORK', homeworks_path %></p>
  <p>Upload some homework: <%= link_to 'NEW HOMEWORK', new_homework_path %></p>
  <br>SEND AN EMAIL: <%= link_to "#holdmybeer", reminders_write_email_path %></p><br>
<% end %>
<p><%= link_to 'Logout', logout_path, method: :delete %></p>

  <!-- <p>View Assignments: <%= link_to 'ASSIGNMENTS', assignments_path %></p> -->
</center>
